*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://media.istockphoto.com/id/1308243057/photo/blur-abstract-background-of-reception-office-hall-with-bokeh-light.jpg?b=1&s=170667a&w=0&k=20&c=6MlTOXpVwFHQV65THOoYxbWUXyAvmgcgHYSZhBsjysw=');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .tartalom{
    margin:0 auto;
    align-items: center;
    text-align: center;
    padding-top: 10%;
  }
  
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    border-radius: 20px;
   
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(48, 18, 182, 0.2);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.408);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.408);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.408);
  }
  
  .flip-card-front {
    background-color: rgb(231, 230, 230);
    color: black;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.408);
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: rgba(255, 255, 255, 0);
    transform: rotateY(180deg);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.408);
  }
  .kep {
    position: relative;
    text-align: center;
    color: black;
  }
  .centered {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: larger;
  }
  a{
    text-decoration: none;
    color:black;
    text-shadow: 1px 1px 10px black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  a:hover{
    text-decoration: none;
    color:green;
    text-shadow: 1px 1px 20px black;
  }

  .szoveg h3{
    padding-bottom: 2%;
  }
  .flip-card-front h1{
    padding-top: 20%;
    text-align: center;
  }
  ul li{
    display: inline-block;

    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
  }
  #hazi{
    color: white;
    text-shadow: 0 0 20px black;
  }
  #nev{
    color: white;
    text-shadow: 0 0 20px black;
  }